<!-- <div ng-controller="dashboardCtrl">
   <div class="row">
      <div class="col-lg-3">
         <ul class="nav nav-tabs navbar-inverse nav-stacked"">
            <li ng-if="admin || employee" class="active"><a data-toggle="tab" ng-init="includeProfile()" data-target="#profile">Profile</a></li>
            <li ng-if="admin"><a data-toggle="tab" ng-click="includeProject()" data-target="#project" data-target="#project">Project</a></li>
            <li ng-if="admin"><a data-toggle="tab" ng-click="includeEmployee()" data-target="#employee">Employee</a></li>
            <li ng-if="admin"><a data-toggle="tab" ng-click="includeAssign()" data-target="#assign">Assign Task</a></li>
            <li ng-if="employee"><a data-toggle="tab" ng-click="includeProjects()" data-target="#projects">Projects</a></li>
            <li ng-if="employee"><a data-toggle="tab" ng-click="includeTask()" data-target="#task">My Project</a></li>
            <li ng-if="employee"><a data-toggle="tab" ng-click="includeNotification()" data-target="#notification">Notification</a></li>
            <li ng-if="employee"><a data-toggle="tab" ng-click="includeTeam()" data-target="#team">Team Members</a></li>
         </ul>
      </div>
      <div class="col-lg-9">
         <div class="tab-content">
            <div id="profile" class="tab-pane fade in active">
               <div ng-include="profileTemplate"></div>
            </div>
            <div id="project" class="tab-pane fade">
               <div  ng-include="prjectTemplate"></div>
            </div>
            <div id="employee" class="tab-pane fade">
               <div  ng-include="employeeTemplate"></div>
            </div>
            <div id="assign" class="tab-pane fade">
               <div  ng-include="assignTemplate"></div>
            </div>
            <div id="projects" class="tab-pane fade">
               <div  ng-include="projectsTemplate"></div>
            </div>
            <div id="task" class="tab-pane fade">
               <div  ng-include="taskTemplate"></div>
            </div>
            <div id="notification" class="tab-pane fade">
               <div  ng-include="notificationTemplate"></div>
            </div>
            <div id="team" class="tab-pane fade">
               <div ng-include="teamTemplate"></div>
            </div>
         </div>
      </div>
   </div>
</div> -->