<style>
    #details input {
        border: none;
    }
</style>

<div ng-controller="employeeCtrl">
   <div class="row">
      <div class="col-lg-3">
         <div ng-include="'client/dashboard/dbleftbar.html'"></div>
      </div>
      <div class="col-lg-9">
    <br>
    <div>
        <button class="btn btn-info" ng-click="addRecord()" type="button">Add employee</button>
    </div><br>
    <div class="input-group">
        <input type="text" class="form-control" ng-model="content" placeholder="search">
        <span class="input-group-btn">
            <button class="btn btn-info" ng-click="search(content)" type="button">Search</button>
          </span>
    </div><br>


    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr bgcolor="sky-blue">
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Mobile</td>
                    <td>Type</td>
                    <td>Email</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.mobile}}</td>
                    <td>{{employee.type}}</td>
                    <td>{{employee.email}}</td>
                    <td align="right">
                        <button class="btn btn-primary" title="show employee" ng-click="showDetail(employee.id)"><span class="glyphicon glyphicon-eye-open"></span></button>
                        <button class="btn btn-primary" title="update employee" ng-click="updateDetail(employee.id)"><span class="glyphicon glyphicon-edit"></span></button>
                        <button class="btn btn-primary" title="delete employee" ng-click="delete(employee.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr bgcolor="#626c7c">
                    <td colspan="2"><button class="btn btn-info" ng-disabled="preBtnStatus" ng-click="getPreviousEmployee()">Previous</button></td>
                    <td colspan="2" bgcolor="white" align="center"><b>[{{begin}}-{{end}}] of {{total}}</b></td>
                    <td colspan="2" align="right"><button class="btn btn-info" ng-disabled="nextBtnStatus" ng-click="getNextEmployee()">Next</button></td>
                </tr>
            </tfoot>
        </table>



        <div id="details" ng-show="detailsDivStatus">
            <hr style="border-width: 3px;border-style: inset;">
            <h2 ng-show="saveBtnStatus"><b>Add new record </b></h2>
            <h2 ng-show="updateBtnStatus"><b>Update your record</b></h2>
            <h2 ng-show="!saveBtnStatus && !updateBtnStatus"><b>Employee Details</b></h2>
            <form>
                <div class="form-group">
                    <label><h3>First Name</h3></label>
                    <input class="form-control" type="text" ng-model="firstName" ng-init="firstName='{{employee.firstName}}'" value="{{employee.firstName}}" ng-disabled="inputStatus">
                </div>
                <div class="form-group">
                    <label><h3>Last Name</h3></label>
                    <input class="form-control" type="text" ng-model="lastName" ng-init="lastName='{{employee.lastName}}'" value="{{employee.lastName}}" ng-disabled="inputStatus">
                </div>
                <div class="form-group" ng-show="!updateBtnStatus || saveBtnStatus">
                    <label><h3>Email</h3></label>
                    <input class="form-control" type="text" ng-model="email" ng-init="email='{{employee.email}}'" value="{{employee.email}}" ng-disabled="inputStatus">
                </div>
                <div class="form-group">
                    <label><h3>Mobile</h3></label>
                    <input class="form-control" type="text" ng-model="mobile" ng-init="mobile='{{employee.mobile}}'" value="{{employee.mobile}}" ng-disabled="inputStatus">
                </div>
                <div class="form-group" ng-show="saveBtnStatus">
                    <label><h3>Password</h3></label>
                    <input class="form-control" type="password" ng-model="password" ng-init="password='{{employee.password}}'" value="{{employee.password}}" ng-disabled="inputStatus">
                </div>
                <button type="submit" class="btn btn-primary" ng-show="saveBtnStatus" ng-click="save()">Save</button>
                <button type="submit" class="btn btn-primary" ng-show="updateBtnStatus" ng-click="update(employee.id)">Update</button>
                <button class="btn btn-primary" ng-show="saveBtnStatus || updateBtnStatus" ng-click="cancel()">Cancel</button>
            </form>
        </div>
    </div>

      </div>
   </div>
</div>